<div class="flex">
    <div class="m-auto">


        <mat-card class="example-card">
            <form>
            
            <mat-card-title style="color:deeppink"> Register </mat-card-title>
            <mat-card-subtitle> input your informations </mat-card-subtitle>
            <mat-card-content class="m-auto">
            
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Enter your name" />
                </mat-form-field>
            
                <mat-form-field class="full-width">
                    <mat-label>User Name</mat-label>
                    <input matInput type="text" placeholder="Enter your user name" required/>
                </mat-form-field>
            
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="Enter your email" required/>
                </mat-form-field>
            
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" required/>
                </mat-form-field>
                
                <button type="button" mat-raised-button (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                    Select pic
                </button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file">
                <span class="file-name">{{selectedFile?.name}}</span>
               
                    <!-- <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
                        <mat-icon>attach_file</mat-icon>
                        Select pic
                      </button>
                      <p class="file-name" *ngIf="!file; else fileName"></p> -->
              
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-flat-button (click)="register()" color="primary">
                <mat-spinner diameter="30" *ngIf="isloading"></mat-spinner>
                <span *ngIf="!isloading">Register</span>
            </button>
              <a href="/user/login" mat-flat-button style="margin-left: 10px;" color="warn">Login</a>
            </mat-card-actions>
            <mat-card-footer>
             
            </mat-card-footer>
        </form>
        </mat-card>
        
    </div>
</div>
