<div class="conatainer mt-3 mb-3">
    <div class="card">
        <div class="d-flex justify-content-between">
            <form class="m-auto w-75">
                <mat-card color="primary">
                <mat-form-field class="full-width">
                    <mat-label>Post Body</mat-label>
                    <textarea matInput rows="3" placeholder="Post content here ..." >

                     </textarea>                     
                </mat-form-field>
            </mat-card>
            <mat-card class="mt-1">
                <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input type="checkbox"> <input type="text" matInput placeholder="Post Title here.."  />
                </mat-form-field>
    
                <br />
                <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="Post Title here.."  />
                </mat-form-field>
    
                <br />
                <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="Post Title here.."  />
                </mat-form-field>
    
                <br />
                <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput placeholder="Post Title here.."  />
                </mat-form-field>
    
                <br />
            </mat-card>
            <mat-action-row class="d-flex justify-content-center">
                <button mat-button type="submit">Create Question</button>
                <!-- <button mat-button type="submit">Create Question</button> -->
            </mat-action-row>
           
            </form>
        </div>
    </div>
</div>