/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
.flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.m-auto{
    margin: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-width{
    width: 100%;
}
