<h3>Study is ronning</h3>
<div class="conatainer mt-2">
    <div class="card">
        <div class="question">
            <div class="card">
                <h3> {{questionList[currentQuestion]?.questionText}} </h3>
            </div>
        </div>
        <div class="options">
            <ol *ngFor="let op of questionList[currentQuestion]?.options">
                <li (click)="checkAns(currentQuestion,op)">
                    <div class="card">
                        {{op.text}}
                    </div>
                </li>
            </ol>
        </div>
        <div>
            <p *ngIf="isShowSxplanation"> Correct Answer is : {{ result[0].text }}  Explanation : {{questionList[currentQuestion]?.explanation}}</p>
        </div>
        
    </div>
</div>


<!-- use router-outlet for nested route 
<router-outlet></router-outlet> -->